body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(228, 228, 228)
}

header {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    border-bottom: 5px solid dimgray;
    background-color: rgb(171, 197, 171);
}

main {
    width: 100%;
    max-width: 1280px;
    background-color: darkseagreen;
}

.catopig {
    display: flex;
}

.catopigcv {
    width: 100%;
    max-width: 250px;
    padding: 20px 20px 0px 20px;
}

.objectives,
.experience {
    width: 30%;
    padding: 0px 20px 0px 20px;
}

.workcode {
    display: flex;
}

.skills,
.eng {
    width: 30%;
    padding: 0px 20px 0px 20px;
}

.code {
    width: 100%;
    max-width: 700px;
}

footer {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 5px solid dimgray;
    background-color: rgb(171, 197, 171);
}

.rspicture {
    max-height: 50px;
}
